header {
  width: 100%;
  background-color: var(--dark-blue);
  color: #fff;

  .header {
    height: 8rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .logo a h2 {
      width: 25%;
      color: #fff;
      cursor: pointer;

      span {
        color: orangered;
      }
    }
    nav {
      width: 75%;
      display: flex;
      justify-content: space-between;
      ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        li {
          margin: 0 5px;
          a {
            color: #fff;
            &:hover {
              color: orangered;
            }
          }
        }
        .logo-mobile {
          display: none;
        }
      }
    }
    .header-right {
      display: flex;

      .cart a {
        display: flex;
        color: #fff;
        position: relative;
        &:hover {
          color: orangered;
        }
        &.active {
          color: var(--color-danger);
        }
        p {
          position: absolute;
          top: -1rem;
          right: -1rem;
          font-weight: 500;
        }
      }
      span {
        margin: 0 5px;
        p {
          color: #fff;
        }
      }

      .links a {
        margin: 0 5px;
        color: #fff;
        &:hover {
          color: orangered;
        }
        &.active {
          color: var(--color-danger);
        }
      }
    }
  }

  .menu-icon {
    display: none;
  }

  // RESPONSIVE DESIGN
  @media screen and (max-width: 800px) {
    nav {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100vh;
      background-color: var(--dark-blue);
      padding: 1rem;
      z-index: 999;
      transform: translateX(-200%);
      transition: all 0.3s;

      .nav-wrapper {
        position: absolute;
      }
    }

    .menu-icon {
      display: flex;
      > * {
        margin-left: 2rem;
      }
    }
  }
}
